//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 05 05:44:11 2026
//! **************************************************************************

SCHEMATIC START;
COMP "pin_out<51>" LOCATE = SITE "C15" LEVEL 1;
COMP "pin_out<28>" LOCATE = SITE "A9" LEVEL 1;
COMP "pin_out<36>" LOCATE = SITE "F10" LEVEL 1;
COMP "pin_out<44>" LOCATE = SITE "A13" LEVEL 1;
COMP "pin_out<52>" LOCATE = SITE "A15" LEVEL 1;
COMP "pin_out<60>" LOCATE = SITE "F14" LEVEL 1;
COMP "pin_out<29>" LOCATE = SITE "C10" LEVEL 1;
COMP "pin_out<37>" LOCATE = SITE "B12" LEVEL 1;
COMP "pin_out<45>" LOCATE = SITE "F12" LEVEL 1;
COMP "pin_out<53>" LOCATE = SITE "D14" LEVEL 1;
COMP "pin_out<61>" LOCATE = SITE "G14" LEVEL 1;
COMP "pin_out<38>" LOCATE = SITE "A12" LEVEL 1;
COMP "pin_out<46>" LOCATE = SITE "E12" LEVEL 1;
COMP "pin_out<54>" LOCATE = SITE "C14" LEVEL 1;
COMP "pin_out<62>" LOCATE = SITE "D17" LEVEL 1;
COMP "pin_out<70>" LOCATE = SITE "F17" LEVEL 1;
COMP "pin_out<39>" LOCATE = SITE "F11" LEVEL 1;
COMP "pin_out<47>" LOCATE = SITE "B14" LEVEL 1;
COMP "pin_out<55>" LOCATE = SITE "B16" LEVEL 1;
COMP "pin_out<63>" LOCATE = SITE "D18" LEVEL 1;
COMP "pin_out<71>" LOCATE = SITE "F18" LEVEL 1;
COMP "pin_out<48>" LOCATE = SITE "A14" LEVEL 1;
COMP "pin_out<56>" LOCATE = SITE "A16" LEVEL 1;
COMP "pin_out<64>" LOCATE = SITE "H12" LEVEL 1;
COMP "pin_out<72>" LOCATE = SITE "H13" LEVEL 1;
COMP "pin_out<80>" LOCATE = SITE "L12" LEVEL 1;
COMP "pin_out<0>" LOCATE = SITE "C4" LEVEL 1;
COMP "pin_out<49>" LOCATE = SITE "F13" LEVEL 1;
COMP "pin_out<57>" LOCATE = SITE "F16" LEVEL 1;
COMP "pin_out<65>" LOCATE = SITE "G13" LEVEL 1;
COMP "pin_out<73>" LOCATE = SITE "H14" LEVEL 1;
COMP "pin_out<81>" LOCATE = SITE "L13" LEVEL 1;
COMP "pin_out<1>" LOCATE = SITE "B2" LEVEL 1;
COMP "pin_out<58>" LOCATE = SITE "C17" LEVEL 1;
COMP "pin_out<66>" LOCATE = SITE "E16" LEVEL 1;
COMP "pin_out<74>" LOCATE = SITE "H15" LEVEL 1;
COMP "pin_out<82>" LOCATE = SITE "K15" LEVEL 1;
COMP "pin_out<90>" LOCATE = SITE "K17" LEVEL 1;
COMP "pin_out<2>" LOCATE = SITE "A2" LEVEL 1;
COMP "pin_out<59>" LOCATE = SITE "C18" LEVEL 1;
COMP "pin_out<67>" LOCATE = SITE "E18" LEVEL 1;
COMP "pin_out<75>" LOCATE = SITE "H16" LEVEL 1;
COMP "pin_out<83>" LOCATE = SITE "K16" LEVEL 1;
COMP "pin_out<91>" LOCATE = SITE "K18" LEVEL 1;
COMP "pin_out<3>" LOCATE = SITE "D6" LEVEL 1;
COMP "pin_out<68>" LOCATE = SITE "K12" LEVEL 1;
COMP "pin_out<76>" LOCATE = SITE "G16" LEVEL 1;
COMP "pin_out<84>" LOCATE = SITE "L15" LEVEL 1;
COMP "pin_out<92>" LOCATE = SITE "L17" LEVEL 1;
COMP "pin_out<4>" LOCATE = SITE "C6" LEVEL 1;
COMP "pin_out<69>" LOCATE = SITE "K13" LEVEL 1;
COMP "pin_out<77>" LOCATE = SITE "G18" LEVEL 1;
COMP "pin_out<85>" LOCATE = SITE "L16" LEVEL 1;
COMP "pin_out<93>" LOCATE = SITE "L18" LEVEL 1;
COMP "pin_out<5>" LOCATE = SITE "B3" LEVEL 1;
COMP "pin_out<100>" LOCATE = SITE "N15" LEVEL 1;
COMP "pin_out<78>" LOCATE = SITE "J13" LEVEL 1;
COMP "pin_out<86>" LOCATE = SITE "H17" LEVEL 1;
COMP "pin_out<94>" LOCATE = SITE "M16" LEVEL 1;
COMP "pin_out<6>" LOCATE = SITE "A3" LEVEL 1;
COMP "pin_out<101>" LOCATE = SITE "N16" LEVEL 1;
COMP "pin_out<79>" LOCATE = SITE "K14" LEVEL 1;
COMP "pin_out<87>" LOCATE = SITE "H18" LEVEL 1;
COMP "pin_out<95>" LOCATE = SITE "M18" LEVEL 1;
COMP "pin_out<7>" LOCATE = SITE "B4" LEVEL 1;
COMP "pin_out<102>" LOCATE = SITE "T17" LEVEL 1;
COMP "pin_out<110>" LOCATE = SITE "P15" LEVEL 1;
COMP "pin_out<88>" LOCATE = SITE "J16" LEVEL 1;
COMP "pin_out<96>" LOCATE = SITE "N17" LEVEL 1;
COMP "pin_out<8>" LOCATE = SITE "A4" LEVEL 1;
COMP "pin_out<103>" LOCATE = SITE "T18" LEVEL 1;
COMP "pin_out<111>" LOCATE = SITE "P16" LEVEL 1;
COMP "pin_out<89>" LOCATE = SITE "J18" LEVEL 1;
COMP "pin_out<97>" LOCATE = SITE "N18" LEVEL 1;
COMP "pin_out<9>" LOCATE = SITE "C5" LEVEL 1;
COMP "pin_out<104>" LOCATE = SITE "U17" LEVEL 1;
COMP "pin_out<112>" LOCATE = SITE "T15" LEVEL 1;
COMP "pin_out<120>" LOCATE = SITE "V14" LEVEL 1;
COMP "pin_out<98>" LOCATE = SITE "P17" LEVEL 1;
COMP "pin_out<105>" LOCATE = SITE "U18" LEVEL 1;
COMP "pin_out<113>" LOCATE = SITE "U16" LEVEL 1;
COMP "pin_out<121>" LOCATE = SITE "N12" LEVEL 1;
COMP "pin_out<99>" LOCATE = SITE "P18" LEVEL 1;
COMP "pin_out<106>" LOCATE = SITE "M14" LEVEL 1;
COMP "pin_out<114>" LOCATE = SITE "V16" LEVEL 1;
COMP "pin_out<122>" LOCATE = SITE "P12" LEVEL 1;
COMP "pin_out<130>" LOCATE = SITE "V12" LEVEL 1;
COMP "pin_out<107>" LOCATE = SITE "N14" LEVEL 1;
COMP "pin_out<115>" LOCATE = SITE "R13" LEVEL 1;
COMP "pin_out<123>" LOCATE = SITE "U13" LEVEL 1;
COMP "pin_out<131>" LOCATE = SITE "N10" LEVEL 1;
COMP "pin_out<108>" LOCATE = SITE "L14" LEVEL 1;
COMP "pin_out<116>" LOCATE = SITE "T13" LEVEL 1;
COMP "pin_out<124>" LOCATE = SITE "V13" LEVEL 1;
COMP "pin_out<132>" LOCATE = SITE "P11" LEVEL 1;
COMP "pin_out<140>" LOCATE = SITE "R8" LEVEL 1;
COMP "pin_out<109>" LOCATE = SITE "M13" LEVEL 1;
COMP "pin_out<117>" LOCATE = SITE "U15" LEVEL 1;
COMP "pin_out<125>" LOCATE = SITE "M11" LEVEL 1;
COMP "pin_out<133>" LOCATE = SITE "M10" LEVEL 1;
COMP "pin_out<141>" LOCATE = SITE "T8" LEVEL 1;
COMP "pin_out<118>" LOCATE = SITE "V15" LEVEL 1;
COMP "pin_out<126>" LOCATE = SITE "N11" LEVEL 1;
COMP "pin_out<134>" LOCATE = SITE "N9" LEVEL 1;
COMP "pin_out<142>" LOCATE = SITE "T9" LEVEL 1;
COMP "pin_out<150>" LOCATE = SITE "N7" LEVEL 1;
COMP "pin_out<119>" LOCATE = SITE "T14" LEVEL 1;
COMP "pin_out<127>" LOCATE = SITE "R11" LEVEL 1;
COMP "pin_out<135>" LOCATE = SITE "U11" LEVEL 1;
COMP "pin_out<143>" LOCATE = SITE "V9" LEVEL 1;
COMP "pin_out<151>" LOCATE = SITE "P8" LEVEL 1;
COMP "pin_out<128>" LOCATE = SITE "T11" LEVEL 1;
COMP "pin_out<136>" LOCATE = SITE "V11" LEVEL 1;
COMP "pin_out<144>" LOCATE = SITE "M8" LEVEL 1;
COMP "pin_out<152>" LOCATE = SITE "T6" LEVEL 1;
COMP "pin_out<160>" LOCATE = SITE "U5" LEVEL 1;
COMP "pin_out<129>" LOCATE = SITE "T12" LEVEL 1;
COMP "pin_out<137>" LOCATE = SITE "R10" LEVEL 1;
COMP "pin_out<145>" LOCATE = SITE "N8" LEVEL 1;
COMP "pin_out<153>" LOCATE = SITE "V6" LEVEL 1;
COMP "pin_out<161>" LOCATE = SITE "V5" LEVEL 1;
COMP "pin_out<138>" LOCATE = SITE "T10" LEVEL 1;
COMP "pin_out<146>" LOCATE = SITE "U8" LEVEL 1;
COMP "pin_out<154>" LOCATE = SITE "R7" LEVEL 1;
COMP "pin_out<162>" LOCATE = SITE "R3" LEVEL 1;
COMP "pin_out<170>" LOCATE = SITE "N3" LEVEL 1;
COMP "pin_out<139>" LOCATE = SITE "V10" LEVEL 1;
COMP "pin_out<147>" LOCATE = SITE "V8" LEVEL 1;
COMP "pin_out<155>" LOCATE = SITE "T7" LEVEL 1;
COMP "pin_out<163>" LOCATE = SITE "T3" LEVEL 1;
COMP "pin_out<171>" LOCATE = SITE "P4" LEVEL 1;
COMP "pin_out<148>" LOCATE = SITE "U7" LEVEL 1;
COMP "pin_out<156>" LOCATE = SITE "N6" LEVEL 1;
COMP "pin_out<164>" LOCATE = SITE "T4" LEVEL 1;
COMP "pin_out<172>" LOCATE = SITE "P3" LEVEL 1;
COMP "pin_out<180>" LOCATE = SITE "P1" LEVEL 1;
COMP "pin_out<149>" LOCATE = SITE "V7" LEVEL 1;
COMP "pin_out<157>" LOCATE = SITE "P7" LEVEL 1;
COMP "pin_out<165>" LOCATE = SITE "V4" LEVEL 1;
COMP "pin_out<173>" LOCATE = SITE "L6" LEVEL 1;
COMP "pin_out<181>" LOCATE = SITE "N2" LEVEL 1;
COMP "pin_out<158>" LOCATE = SITE "R5" LEVEL 1;
COMP "pin_out<166>" LOCATE = SITE "N5" LEVEL 1;
COMP "pin_out<174>" LOCATE = SITE "M5" LEVEL 1;
COMP "pin_out<182>" LOCATE = SITE "N1" LEVEL 1;
COMP "pin_out<190>" LOCATE = SITE "L3" LEVEL 1;
COMP "pin_out<159>" LOCATE = SITE "T5" LEVEL 1;
COMP "pin_out<167>" LOCATE = SITE "P6" LEVEL 1;
COMP "pin_out<175>" LOCATE = SITE "U2" LEVEL 1;
COMP "pin_out<183>" LOCATE = SITE "M3" LEVEL 1;
COMP "pin_out<191>" LOCATE = SITE "J3" LEVEL 1;
COMP "pin_out<168>" LOCATE = SITE "U3" LEVEL 1;
COMP "pin_out<176>" LOCATE = SITE "U1" LEVEL 1;
COMP "pin_out<184>" LOCATE = SITE "M1" LEVEL 1;
COMP "pin_out<192>" LOCATE = SITE "J1" LEVEL 1;
COMP "pin_out<169>" LOCATE = SITE "V3" LEVEL 1;
COMP "pin_out<177>" LOCATE = SITE "T2" LEVEL 1;
COMP "pin_out<185>" LOCATE = SITE "L2" LEVEL 1;
COMP "pin_out<193>" LOCATE = SITE "H2" LEVEL 1;
COMP "pin_out<178>" LOCATE = SITE "T1" LEVEL 1;
COMP "pin_out<186>" LOCATE = SITE "L1" LEVEL 1;
COMP "clk_in" LOCATE = SITE "U10" LEVEL 1;
COMP "pin_out<179>" LOCATE = SITE "P2" LEVEL 1;
COMP "pin_out<187>" LOCATE = SITE "K2" LEVEL 1;
COMP "pin_out<188>" LOCATE = SITE "K1" LEVEL 1;
COMP "pin_out<189>" LOCATE = SITE "L4" LEVEL 1;
COMP "pin_out<10>" LOCATE = SITE "A5" LEVEL 1;
COMP "pin_out<11>" LOCATE = SITE "F7" LEVEL 1;
COMP "led<0>" LOCATE = SITE "D11" LEVEL 1;
COMP "pin_out<12>" LOCATE = SITE "E6" LEVEL 1;
COMP "pin_out<20>" LOCATE = SITE "C8" LEVEL 1;
COMP "led<1>" LOCATE = SITE "C11" LEVEL 1;
COMP "pin_out<13>" LOCATE = SITE "B6" LEVEL 1;
COMP "pin_out<21>" LOCATE = SITE "G8" LEVEL 1;
COMP "pin_out<14>" LOCATE = SITE "A6" LEVEL 1;
COMP "pin_out<22>" LOCATE = SITE "F8" LEVEL 1;
COMP "pin_out<30>" LOCATE = SITE "A10" LEVEL 1;
COMP "pin_out<15>" LOCATE = SITE "E7" LEVEL 1;
COMP "pin_out<23>" LOCATE = SITE "B8" LEVEL 1;
COMP "pin_out<31>" LOCATE = SITE "G9" LEVEL 1;
COMP "pin_out<16>" LOCATE = SITE "E8" LEVEL 1;
COMP "pin_out<24>" LOCATE = SITE "A8" LEVEL 1;
COMP "pin_out<32>" LOCATE = SITE "F9" LEVEL 1;
COMP "pin_out<40>" LOCATE = SITE "E11" LEVEL 1;
COMP "pin_out<17>" LOCATE = SITE "C7" LEVEL 1;
COMP "pin_out<25>" LOCATE = SITE "D9" LEVEL 1;
COMP "pin_out<33>" LOCATE = SITE "B11" LEVEL 1;
COMP "pin_out<41>" LOCATE = SITE "D12" LEVEL 1;
COMP "pin_out<18>" LOCATE = SITE "A7" LEVEL 1;
COMP "pin_out<26>" LOCATE = SITE "C9" LEVEL 1;
COMP "pin_out<34>" LOCATE = SITE "A11" LEVEL 1;
COMP "pin_out<42>" LOCATE = SITE "C12" LEVEL 1;
COMP "pin_out<50>" LOCATE = SITE "E13" LEVEL 1;
COMP "pin_out<19>" LOCATE = SITE "D8" LEVEL 1;
COMP "pin_out<27>" LOCATE = SITE "B9" LEVEL 1;
COMP "pin_out<35>" LOCATE = SITE "G11" LEVEL 1;
COMP "pin_out<43>" LOCATE = SITE "C13" LEVEL 1;
SCHEMATIC END;

