NET "clk_in" LOC = "U10" | IOSTANDARD = LVCMOS33;

NET "led<0>" LOC = "D11" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "led<1>" LOC = "C11" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;

NET "pin_out[0]" LOC = "C10" | IOSTANDARD = LVCMOS33;
NET "pin_out[1]" LOC = "A10" | IOSTANDARD = LVCMOS33;
NET "pin_out[2]" LOC = "N15" | IOSTANDARD = LVCMOS33;
NET "pin_out[3]" LOC = "T18" | IOSTANDARD = LVCMOS33;
NET "pin_out[4]" LOC = "U17" | IOSTANDARD = LVCMOS33;
NET "pin_out[5]" LOC = "P15" | IOSTANDARD = LVCMOS33;
NET "pin_out[6]" LOC = "P16" | IOSTANDARD = LVCMOS33;
