//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 05 06:57:21 2026
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "D11" LEVEL 1;
COMP "led<1>" LOCATE = SITE "C11" LEVEL 1;
COMP "pin_out<0>" LOCATE = SITE "C10" LEVEL 1;
COMP "pin_out<1>" LOCATE = SITE "A10" LEVEL 1;
COMP "pin_out<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "pin_out<3>" LOCATE = SITE "T18" LEVEL 1;
COMP "pin_out<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "pin_out<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "pin_out<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "clk_in" LOCATE = SITE "U10" LEVEL 1;
SCHEMATIC END;

