NET "clk_in" LOC = "U10" | IOSTANDARD = LVCMOS33;

NET "led<0>" LOC = "D11" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "led<1>" LOC = "C11" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;

NET "pin_out[0]" LOC = "P15" | IOSTANDARD = LVCMOS33;
