NET "clk_in" LOC = "U10" | IOSTANDARD = LVCMOS33;

NET "led<0>" LOC = "D11" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "led<1>" LOC = "C11" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;

NET "pin_out[0]" LOC = "C4" | IOSTANDARD = LVCMOS33;
NET "pin_out[1]" LOC = "B2" | IOSTANDARD = LVCMOS33;
NET "pin_out[2]" LOC = "A2" | IOSTANDARD = LVCMOS33;
NET "pin_out[3]" LOC = "D6" | IOSTANDARD = LVCMOS33;
NET "pin_out[4]" LOC = "C6" | IOSTANDARD = LVCMOS33;
NET "pin_out[5]" LOC = "B3" | IOSTANDARD = LVCMOS33;
NET "pin_out[6]" LOC = "A3" | IOSTANDARD = LVCMOS33;
NET "pin_out[7]" LOC = "B4" | IOSTANDARD = LVCMOS33;
NET "pin_out[8]" LOC = "A4" | IOSTANDARD = LVCMOS33;
NET "pin_out[9]" LOC = "C5" | IOSTANDARD = LVCMOS33;
NET "pin_out[10]" LOC = "A5" | IOSTANDARD = LVCMOS33;
NET "pin_out[11]" LOC = "F7" | IOSTANDARD = LVCMOS33;
NET "pin_out[12]" LOC = "E6" | IOSTANDARD = LVCMOS33;
NET "pin_out[13]" LOC = "B6" | IOSTANDARD = LVCMOS33;
NET "pin_out[14]" LOC = "A6" | IOSTANDARD = LVCMOS33;
NET "pin_out[15]" LOC = "E7" | IOSTANDARD = LVCMOS33;
NET "pin_out[16]" LOC = "E8" | IOSTANDARD = LVCMOS33;
NET "pin_out[17]" LOC = "C7" | IOSTANDARD = LVCMOS33;
NET "pin_out[18]" LOC = "A7" | IOSTANDARD = LVCMOS33;
NET "pin_out[19]" LOC = "D8" | IOSTANDARD = LVCMOS33;
NET "pin_out[20]" LOC = "C8" | IOSTANDARD = LVCMOS33;
NET "pin_out[21]" LOC = "G8" | IOSTANDARD = LVCMOS33;
NET "pin_out[22]" LOC = "F8" | IOSTANDARD = LVCMOS33;
NET "pin_out[23]" LOC = "B8" | IOSTANDARD = LVCMOS33;
NET "pin_out[24]" LOC = "A8" | IOSTANDARD = LVCMOS33;
NET "pin_out[25]" LOC = "D9" | IOSTANDARD = LVCMOS33;
NET "pin_out[26]" LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "pin_out[27]" LOC = "B9" | IOSTANDARD = LVCMOS33;
NET "pin_out[28]" LOC = "A9" | IOSTANDARD = LVCMOS33;
NET "pin_out[29]" LOC = "C10" | IOSTANDARD = LVCMOS33;
NET "pin_out[30]" LOC = "A10" | IOSTANDARD = LVCMOS33;
NET "pin_out[31]" LOC = "G9" | IOSTANDARD = LVCMOS33;
NET "pin_out[32]" LOC = "F9" | IOSTANDARD = LVCMOS33;
NET "pin_out[33]" LOC = "B11" | IOSTANDARD = LVCMOS33;
NET "pin_out[34]" LOC = "A11" | IOSTANDARD = LVCMOS33;
NET "pin_out[35]" LOC = "G11" | IOSTANDARD = LVCMOS33;
NET "pin_out[36]" LOC = "F10" | IOSTANDARD = LVCMOS33;
NET "pin_out[37]" LOC = "B12" | IOSTANDARD = LVCMOS33;
NET "pin_out[38]" LOC = "A12" | IOSTANDARD = LVCMOS33;
NET "pin_out[39]" LOC = "F11" | IOSTANDARD = LVCMOS33;
NET "pin_out[40]" LOC = "E11" | IOSTANDARD = LVCMOS33;
NET "pin_out[41]" LOC = "D12" | IOSTANDARD = LVCMOS33;
NET "pin_out[42]" LOC = "C12" | IOSTANDARD = LVCMOS33;
NET "pin_out[43]" LOC = "C13" | IOSTANDARD = LVCMOS33;
NET "pin_out[44]" LOC = "A13" | IOSTANDARD = LVCMOS33;
NET "pin_out[45]" LOC = "F12" | IOSTANDARD = LVCMOS33;
NET "pin_out[46]" LOC = "E12" | IOSTANDARD = LVCMOS33;
NET "pin_out[47]" LOC = "B14" | IOSTANDARD = LVCMOS33;
NET "pin_out[48]" LOC = "A14" | IOSTANDARD = LVCMOS33;
NET "pin_out[49]" LOC = "F13" | IOSTANDARD = LVCMOS33;
NET "pin_out[50]" LOC = "E13" | IOSTANDARD = LVCMOS33;
NET "pin_out[51]" LOC = "C15" | IOSTANDARD = LVCMOS33;
NET "pin_out[52]" LOC = "A15" | IOSTANDARD = LVCMOS33;
NET "pin_out[53]" LOC = "D14" | IOSTANDARD = LVCMOS33;
NET "pin_out[54]" LOC = "C14" | IOSTANDARD = LVCMOS33;
NET "pin_out[55]" LOC = "B16" | IOSTANDARD = LVCMOS33;
NET "pin_out[56]" LOC = "A16" | IOSTANDARD = LVCMOS33;
NET "pin_out[57]" LOC = "F16" | IOSTANDARD = LVCMOS33;
NET "pin_out[58]" LOC = "C17" | IOSTANDARD = LVCMOS33;
NET "pin_out[59]" LOC = "C18" | IOSTANDARD = LVCMOS33;
NET "pin_out[60]" LOC = "F14" | IOSTANDARD = LVCMOS33;
NET "pin_out[61]" LOC = "G14" | IOSTANDARD = LVCMOS33;
NET "pin_out[62]" LOC = "D17" | IOSTANDARD = LVCMOS33;
NET "pin_out[63]" LOC = "D18" | IOSTANDARD = LVCMOS33;
NET "pin_out[64]" LOC = "H12" | IOSTANDARD = LVCMOS33;
NET "pin_out[65]" LOC = "G13" | IOSTANDARD = LVCMOS33;
NET "pin_out[66]" LOC = "E16" | IOSTANDARD = LVCMOS33;
NET "pin_out[67]" LOC = "E18" | IOSTANDARD = LVCMOS33;
NET "pin_out[68]" LOC = "K12" | IOSTANDARD = LVCMOS33;
NET "pin_out[69]" LOC = "K13" | IOSTANDARD = LVCMOS33;
NET "pin_out[70]" LOC = "F17" | IOSTANDARD = LVCMOS33;
NET "pin_out[71]" LOC = "F18" | IOSTANDARD = LVCMOS33;
NET "pin_out[72]" LOC = "H13" | IOSTANDARD = LVCMOS33;
NET "pin_out[73]" LOC = "H14" | IOSTANDARD = LVCMOS33;
NET "pin_out[74]" LOC = "H15" | IOSTANDARD = LVCMOS33;
NET "pin_out[75]" LOC = "H16" | IOSTANDARD = LVCMOS33;
NET "pin_out[76]" LOC = "G16" | IOSTANDARD = LVCMOS33;
NET "pin_out[77]" LOC = "G18" | IOSTANDARD = LVCMOS33;
NET "pin_out[78]" LOC = "J13" | IOSTANDARD = LVCMOS33;
NET "pin_out[79]" LOC = "K14" | IOSTANDARD = LVCMOS33;
NET "pin_out[80]" LOC = "L12" | IOSTANDARD = LVCMOS33;
NET "pin_out[81]" LOC = "L13" | IOSTANDARD = LVCMOS33;
NET "pin_out[82]" LOC = "K15" | IOSTANDARD = LVCMOS33;
NET "pin_out[83]" LOC = "K16" | IOSTANDARD = LVCMOS33;
NET "pin_out[84]" LOC = "L15" | IOSTANDARD = LVCMOS33;
NET "pin_out[85]" LOC = "L16" | IOSTANDARD = LVCMOS33;
NET "pin_out[86]" LOC = "H17" | IOSTANDARD = LVCMOS33;
NET "pin_out[87]" LOC = "H18" | IOSTANDARD = LVCMOS33;
NET "pin_out[88]" LOC = "J16" | IOSTANDARD = LVCMOS33;
NET "pin_out[89]" LOC = "J18" | IOSTANDARD = LVCMOS33;
NET "pin_out[90]" LOC = "K17" | IOSTANDARD = LVCMOS33;
NET "pin_out[91]" LOC = "K18" | IOSTANDARD = LVCMOS33;
NET "pin_out[92]" LOC = "L17" | IOSTANDARD = LVCMOS33;
NET "pin_out[93]" LOC = "L18" | IOSTANDARD = LVCMOS33;
NET "pin_out[94]" LOC = "M16" | IOSTANDARD = LVCMOS33;
NET "pin_out[95]" LOC = "M18" | IOSTANDARD = LVCMOS33;
NET "pin_out[96]" LOC = "N17" | IOSTANDARD = LVCMOS33;
NET "pin_out[97]" LOC = "N18" | IOSTANDARD = LVCMOS33;
NET "pin_out[98]" LOC = "P17" | IOSTANDARD = LVCMOS33;
NET "pin_out[99]" LOC = "P18" | IOSTANDARD = LVCMOS33;
NET "pin_out[100]" LOC = "N15" | IOSTANDARD = LVCMOS33;
NET "pin_out[101]" LOC = "N16" | IOSTANDARD = LVCMOS33;
NET "pin_out[102]" LOC = "T17" | IOSTANDARD = LVCMOS33;
NET "pin_out[103]" LOC = "T18" | IOSTANDARD = LVCMOS33;
NET "pin_out[104]" LOC = "U17" | IOSTANDARD = LVCMOS33;
NET "pin_out[105]" LOC = "U18" | IOSTANDARD = LVCMOS33;
NET "pin_out[106]" LOC = "M14" | IOSTANDARD = LVCMOS33;
NET "pin_out[107]" LOC = "N14" | IOSTANDARD = LVCMOS33;
NET "pin_out[108]" LOC = "L14" | IOSTANDARD = LVCMOS33;
NET "pin_out[109]" LOC = "M13" | IOSTANDARD = LVCMOS33;
NET "pin_out[110]" LOC = "P15" | IOSTANDARD = LVCMOS33;
NET "pin_out[111]" LOC = "P16" | IOSTANDARD = LVCMOS33;
NET "pin_out[112]" LOC = "T15" | IOSTANDARD = LVCMOS33;
NET "pin_out[113]" LOC = "U16" | IOSTANDARD = LVCMOS33;
NET "pin_out[114]" LOC = "V16" | IOSTANDARD = LVCMOS33;
NET "pin_out[115]" LOC = "R13" | IOSTANDARD = LVCMOS33;
NET "pin_out[116]" LOC = "T13" | IOSTANDARD = LVCMOS33;
NET "pin_out[117]" LOC = "U15" | IOSTANDARD = LVCMOS33;
NET "pin_out[118]" LOC = "V15" | IOSTANDARD = LVCMOS33;
NET "pin_out[119]" LOC = "T14" | IOSTANDARD = LVCMOS33;
NET "pin_out[120]" LOC = "V14" | IOSTANDARD = LVCMOS33;
NET "pin_out[121]" LOC = "N12" | IOSTANDARD = LVCMOS33;
NET "pin_out[122]" LOC = "P12" | IOSTANDARD = LVCMOS33;
NET "pin_out[123]" LOC = "U13" | IOSTANDARD = LVCMOS33;
NET "pin_out[124]" LOC = "V13" | IOSTANDARD = LVCMOS33;
NET "pin_out[125]" LOC = "M11" | IOSTANDARD = LVCMOS33;
NET "pin_out[126]" LOC = "N11" | IOSTANDARD = LVCMOS33;
NET "pin_out[127]" LOC = "R11" | IOSTANDARD = LVCMOS33;
NET "pin_out[128]" LOC = "T11" | IOSTANDARD = LVCMOS33;
NET "pin_out[129]" LOC = "T12" | IOSTANDARD = LVCMOS33;
NET "pin_out[130]" LOC = "V12" | IOSTANDARD = LVCMOS33;
NET "pin_out[131]" LOC = "N10" | IOSTANDARD = LVCMOS33;
NET "pin_out[132]" LOC = "P11" | IOSTANDARD = LVCMOS33;
NET "pin_out[133]" LOC = "M10" | IOSTANDARD = LVCMOS33;
NET "pin_out[134]" LOC = "N9" | IOSTANDARD = LVCMOS33;
NET "pin_out[135]" LOC = "U11" | IOSTANDARD = LVCMOS33;
NET "pin_out[136]" LOC = "V11" | IOSTANDARD = LVCMOS33;
NET "pin_out[137]" LOC = "R10" | IOSTANDARD = LVCMOS33;
NET "pin_out[138]" LOC = "T10" | IOSTANDARD = LVCMOS33;
NET "pin_out[139]" LOC = "V10" | IOSTANDARD = LVCMOS33;
NET "pin_out[140]" LOC = "R8" | IOSTANDARD = LVCMOS33;
NET "pin_out[141]" LOC = "T8" | IOSTANDARD = LVCMOS33;
NET "pin_out[142]" LOC = "T9" | IOSTANDARD = LVCMOS33;
NET "pin_out[143]" LOC = "V9" | IOSTANDARD = LVCMOS33;
NET "pin_out[144]" LOC = "M8" | IOSTANDARD = LVCMOS33;
NET "pin_out[145]" LOC = "N8" | IOSTANDARD = LVCMOS33;
NET "pin_out[146]" LOC = "U8" | IOSTANDARD = LVCMOS33;
NET "pin_out[147]" LOC = "V8" | IOSTANDARD = LVCMOS33;
NET "pin_out[148]" LOC = "U7" | IOSTANDARD = LVCMOS33;
NET "pin_out[149]" LOC = "V7" | IOSTANDARD = LVCMOS33;
NET "pin_out[150]" LOC = "N7" | IOSTANDARD = LVCMOS33;
NET "pin_out[151]" LOC = "P8" | IOSTANDARD = LVCMOS33;
NET "pin_out[152]" LOC = "T6" | IOSTANDARD = LVCMOS33;
NET "pin_out[153]" LOC = "V6" | IOSTANDARD = LVCMOS33;
NET "pin_out[154]" LOC = "R7" | IOSTANDARD = LVCMOS33;
NET "pin_out[155]" LOC = "T7" | IOSTANDARD = LVCMOS33;
NET "pin_out[156]" LOC = "N6" | IOSTANDARD = LVCMOS33;
NET "pin_out[157]" LOC = "P7" | IOSTANDARD = LVCMOS33;
NET "pin_out[158]" LOC = "R5" | IOSTANDARD = LVCMOS33;
NET "pin_out[159]" LOC = "T5" | IOSTANDARD = LVCMOS33;
NET "pin_out[160]" LOC = "U5" | IOSTANDARD = LVCMOS33;
NET "pin_out[161]" LOC = "V5" | IOSTANDARD = LVCMOS33;
NET "pin_out[162]" LOC = "R3" | IOSTANDARD = LVCMOS33;
NET "pin_out[163]" LOC = "T3" | IOSTANDARD = LVCMOS33;
NET "pin_out[164]" LOC = "T4" | IOSTANDARD = LVCMOS33;
NET "pin_out[165]" LOC = "V4" | IOSTANDARD = LVCMOS33;
NET "pin_out[166]" LOC = "N5" | IOSTANDARD = LVCMOS33;
NET "pin_out[167]" LOC = "P6" | IOSTANDARD = LVCMOS33;
NET "pin_out[168]" LOC = "U3" | IOSTANDARD = LVCMOS33;
NET "pin_out[169]" LOC = "V3" | IOSTANDARD = LVCMOS33;
NET "pin_out[170]" LOC = "N3" | IOSTANDARD = LVCMOS33;
NET "pin_out[171]" LOC = "P4" | IOSTANDARD = LVCMOS33;
NET "pin_out[172]" LOC = "P3" | IOSTANDARD = LVCMOS33;
NET "pin_out[173]" LOC = "L6" | IOSTANDARD = LVCMOS33;
NET "pin_out[174]" LOC = "M5" | IOSTANDARD = LVCMOS33;
NET "pin_out[175]" LOC = "U2" | IOSTANDARD = LVCMOS33;
NET "pin_out[176]" LOC = "U1" | IOSTANDARD = LVCMOS33;
NET "pin_out[177]" LOC = "T2" | IOSTANDARD = LVCMOS33;
NET "pin_out[178]" LOC = "T1" | IOSTANDARD = LVCMOS33;
NET "pin_out[179]" LOC = "P2" | IOSTANDARD = LVCMOS33;
NET "pin_out[180]" LOC = "P1" | IOSTANDARD = LVCMOS33;
NET "pin_out[181]" LOC = "N2" | IOSTANDARD = LVCMOS33;
NET "pin_out[182]" LOC = "N1" | IOSTANDARD = LVCMOS33;
NET "pin_out[183]" LOC = "M3" | IOSTANDARD = LVCMOS33;
NET "pin_out[184]" LOC = "M1" | IOSTANDARD = LVCMOS33;
NET "pin_out[185]" LOC = "L2" | IOSTANDARD = LVCMOS33;
NET "pin_out[186]" LOC = "L1" | IOSTANDARD = LVCMOS33;
NET "pin_out[187]" LOC = "K2" | IOSTANDARD = LVCMOS33;
NET "pin_out[188]" LOC = "K1" | IOSTANDARD = LVCMOS33;
NET "pin_out[189]" LOC = "L4" | IOSTANDARD = LVCMOS33;
NET "pin_out[190]" LOC = "L3" | IOSTANDARD = LVCMOS33;
NET "pin_out[191]" LOC = "J3" | IOSTANDARD = LVCMOS33;
NET "pin_out[192]" LOC = "J1" | IOSTANDARD = LVCMOS33;
NET "pin_out[193]" LOC = "H2" | IOSTANDARD = LVCMOS33;
