//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 05 06:36:41 2026
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "D11" LEVEL 1;
COMP "led<1>" LOCATE = SITE "C11" LEVEL 1;
COMP "pin_out<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "clk_in" LOCATE = SITE "U10" LEVEL 1;
SCHEMATIC END;

